# 노드 패키지 파일 (최상단 폴더)
node_modules
package.json
package-lock.json
yarn.lock

# 노드 패키지 파일 (backend)
backend/bin
backend/node_modules
backend/package.json
backend/package-lock.json

# 노드 패키지 파일 (frontend)
frontend/node_modules
frontend/.gitignore
frontend/package.json
frontend/package-lock.json
frontend/README.md
frontend/yarn.lock
