# 노드 패키지 파일 (최상단 폴더)
node_modules
package-lock.json
yarn.lock

# 노드 패키지 파일 (backend)
backend/node_modules
backend/package-lock.json

# 노드 패키지 파일 (frontend)
frontend/node_modules
frontend/.gitignore
frontend/package-lock.json
frontend/README.md
frontend/yarn.lock

# DS 캐시 파일
**/.DS_Store
